@import "tailwindcss";

body {
  background: #101828;
  overflow-x: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: #1e2939;
}

::-webkit-scrollbar-thumb{
  background: oklch(70.4% 0.14 182.503);
  border-radius: 3px;
}

@keyframes filmScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes filmEdgeScroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes underlineScale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.animate-textGradient {
  background-size: 200% auto;
  animation: textGradient 3s ease infinite;
}
.animate-underlineScale {
  animation: underlineScale 2s ease infinite;
}


@keyframes bg-animation {
  0%,100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-bg {
  animation: bg-animation 10s ease infinite;
}

.stranger-things .st {
  transform: rotate(180deg);
  left: 12px;
  right: auto;
  margin-bottom: 12px;
}

.stranger-things .st.title {
  margin-top: 40px;
}

.rift-button {
  width: 30px;
  height: 40px;
  background: radial-gradient(
    circle at center,
    #ff2a2a 0%,
    #8b0000 35%,
    #120005 65%,
    #000 100%
  );
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  box-shadow:
    0 0 12px rgba(255, 0, 0, 0.6),
    inset 0 0 18px rgba(0, 0, 0, 0.9);
  animation: pulse 4s infinite ease-in-out;
}

/* organic crack line */
.rift-button::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 50%;
  width: 2px;
  height: 84%;
  background: linear-gradient(
    to bottom,
    transparent,
    #ff3b3b,
    #ff3b3b,
    transparent
  );
  transform: translateX(-50%);
  opacity: 0.9;
}

/* hover = opening */
.rift-button:hover {
  box-shadow:
    0 0 24px rgba(255, 0, 0, 0.9),
    inset 0 0 30px rgba(0, 0, 0, 1);
  transform: scale(1.05);
}

/* subtle life */
@keyframes pulse {
  0%, 100% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.4); }
  50% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.9); }
}
.portal-open {
  animation: portalExpand 750ms cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes portalExpand {
  0% {
    transform: scale(0.04);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  60% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.portal-close {
  animation: portalClose 400ms ease-in forwards;
}

@keyframes portalClose {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.02);
    opacity: 0;
  }
}
