@import "tailwindcss";

body {
  background: #101828;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: #1e2939;
}

::-webkit-scrollbar-thumb{
  background: oklch(70.4% 0.14 182.503);
  border-radius: 3px;
}

@keyframes filmScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes filmEdgeScroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes underlineScale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.animate-textGradient {
  background-size: 200% auto;
  animation: textGradient 3s ease infinite;
}
.animate-underlineScale {
  animation: underlineScale 2s ease infinite;
}


@keyframes bg-animation {
  0%,100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-bg {
  animation: bg-animation 10s ease infinite;
}
